body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}

.text-center, .messge400 {
    text-align: center;
}

.messge400 h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
    color: #8d8988;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

@media (min-width: 992px) {
    .messge400 h1 {
        font-size: 50px;
        line-height: 63px;
    }
}

.messge400 h1 span {
    font-size: 40px;
    color: #f1734c;
    font-weight: 300;
}

@media (min-width: 992px) {
    .messge400 h1 span {
        font-size: 80px;
    }
}

.messge400 p {
    font-size: 14px;
    line-height: 21px;
    color: #9c9694;
    max-width: 620px;
    padding: 0 20px;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    .messge400 h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 81px;
    }

    .messge400 h1 span {
        font-size: 105px;
    }
}

.wrap400 {
    min-height: 100%;
    height: auto !important;
    background: #A3E7FF;
}

.wrap400 .messge400 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.charecter-3 {
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    will-change: transform;
}

@media screen and (min-width: 1115px) {
    .charecter-3 {
        max-width: 1115px;
        margin-top: 306px;
        position: relative;
        margin: 0 auto;
        margin-top: 280px;
    }
}

@media screen and (max-height: 480px) {
    .charecter-3 {
        margin-top: 5%;
    }
}

.eye3 {
   display: block;
   margin : 0 auto;
}

.wrap4002 {
    height: 100%;
    background: #A3E7FF;
    position: relative;
}

.messge400 {
    position: relative;
    z-index: 200;
}

.messge400 h1 {
    color: #448795;
}

.messge400 p {
    color: #2e6b78;
    max-width: 830px;
}
